<div class="container mt-4">
	<mat-toolbar class="pt-1" color="primary">
		<button mat-icon-button class="mt-1" aria-label="Return button" (click)="return()">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span class="text-title-large">New Treatment</span>
		<span class="flex-1"></span>
		<button mat-icon-button class="mt-1" aria-label="Return button" (click)="save()">
			<mat-icon>save</mat-icon>
		</button>
	</mat-toolbar>

	<div>
		<mat-vertical-stepper [linear]="false" #stepper animationDuration="700">
			<mat-step [stepControl]="treatmentForm">
				<form [formGroup]="treatmentForm">
					<ng-template matStepLabel>Fill basic information</ng-template>
					<mat-form-field floatLabel="always" appearance="fill" class="w-72">
						<mat-label>Treatment</mat-label>
						<input required="treatment" matNativeControl formControlName="treatment">
					</mat-form-field>

					<mat-form-field floatLabel="always" appearance="fill" class="w-72">
						<mat-label>Established By</mat-label>
						<input required matInput formControlName="establishedBy">
					</mat-form-field>

					<mat-form-field appearance="fill" floatLabel="always" class="w-72">
						<mat-label>Start Date</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="startDate">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="fill" floatLabel="always" class="w-72">
						<mat-label>Established On</mat-label>
						<input matInput [matDatepicker]="establishedOnPicker" formControlName="establishedOn">
						<mat-datepicker-toggle matSuffix [for]="establishedOnPicker"></mat-datepicker-toggle>
						<mat-datepicker #establishedOnPicker></mat-datepicker>
					</mat-form-field>
					<div>
						<button mat-raised-button matStepperNext color="primary">Next</button>
					</div>
				</form>
			</mat-step>

			<mat-step [stepControl]="secondFormGroup">
				<ng-template matStepLabel>Fill recommendations list</ng-template>
				<p class="text-body-medium" *ngIf="recommendations.length === 0">
					Recommendations list is empty
				</p>

				<div class="mt-8 mx-4">
					<mat-list>
						<div class="list-item-container" *ngFor="let recommendation of recommendations; let i = index">
							<mat-list-item class="my-4">
								<div matListItemTitle>{{recommendation.name}}</div>
								<div matListItemLine><span>{{recommendation.frequency}}</span></div>
								<div matListItemLine *ngFor="let frequencyEntry of recommendation.frequencyEntries">
									{{frequencyEntry.when}} - {{frequencyEntry.dosage}}
								</div>
								<div matListItemMeta>
									<button (click)="removeRecommendation(recommendation.guid)" mat-icon-button><mat-icon>delete</mat-icon></button>
									<button (click)="editRecommendation(recommendation.guid)" mat-icon-button><mat-icon>edit</mat-icon></button>
								</div>
							</mat-list-item>
							<mat-divider />
						</div>
					</mat-list>
					<button (click)="addNewRecommendation()"
						 color="primary" mat-fab><mat-icon>add</mat-icon></button>
				</div>

					<div class="mt-8">
						<button mat-button matStepperPrevious>Back</button>
						<button mat-raised-button matStepperNext color="primary">Next</button>
					</div>

			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Done</ng-template>
				You are now done.
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>