<div class="container">
	<mat-toolbar class="pt-1">
		<button mat-icon-button class="mt-1" aria-label="Return button" (click)="return()">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span class="text-title-large">New Treatment</span>
		<span class="flex-1"></span>
		<button mat-icon-button class="mt-1" aria-label="Return button" [disabled]="!isValid()" (click)="save()">
			<mat-icon>save</mat-icon>
		</button>
	</mat-toolbar>

	<div>
		<mat-vertical-stepper [linear]="false" #stepper animationDuration="700">
			<mat-step [stepControl]="treatmentForm">
				<div class="step-content-container">
					<form [formGroup]="treatmentForm" class="mt-4">
						<ng-template matStepLabel>Fill basic information</ng-template>
						<mat-form-field floatLabel="always" appearance="fill" class="w-72">
							<mat-label>Treatment</mat-label>
							<input required="treatment" matNativeControl formControlName="treatment">
							<app-error-message [control]="getControl('treatment')"></app-error-message>
						</mat-form-field>

						<mat-form-field floatLabel="always" appearance="fill" class="w-72">
							<mat-label>Established By</mat-label>
							<input required matInput formControlName="establishedBy" placeholder="Doctor name">
							<app-error-message [control]="getControl('establishedBy')"></app-error-message>
						</mat-form-field>

						<mat-form-field appearance="fill" floatLabel="always" class="w-72">
							<mat-label>Start Date</mat-label>
							<input matInput [matDatepicker]="picker" required formControlName="startDate">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<app-error-message [control]="getControl('startDate')"></app-error-message>
						</mat-form-field>

						<mat-form-field appearance="fill" floatLabel="always" class="w-72">
							<mat-label>Established On</mat-label>
							<input matInput required [matDatepicker]="establishedOnPicker" formControlName="establishedOn">
							<mat-datepicker-toggle matSuffix [for]="establishedOnPicker"></mat-datepicker-toggle>
							<mat-datepicker #establishedOnPicker></mat-datepicker>
							<app-error-message [control]="getControl('establishedOn')"></app-error-message>
						</mat-form-field>
					</form>
				</div>
				<div class="step-actions">
					<button [disabled]="treatmentForm.invalid" mat-raised-button matStepperNext color="primary">Next</button>
				</div>
			</mat-step>

			<mat-step [stepControl]="secondFormGroup">
				<ng-template matStepLabel>Fill recommendations list</ng-template>
				<p class="text-body-medium" *ngIf="recommendations.length === 0">
					Recommendations list is empty
				</p>

				<div class="">
					<mat-list>
						<div class="list-item-container" *ngFor="let recommendation of recommendations; let i = index">
							<mat-list-item class="my-4">
								<div matListItemTitle>{{recommendation.name}}</div>
								<div matListItemLine><span>{{recommendation.frequency}}</span></div>
								<div matListItemLine *ngFor="let frequencyEntry of recommendation.frequencyEntries">
									{{frequencyEntry.when}} - {{frequencyEntry.dosage}}
								</div>
								<div matListItemMeta>
									<button (click)="removeRecommendation(recommendation.guid)"
										mat-icon-button><mat-icon>delete</mat-icon></button>
									<button (click)="editRecommendation(recommendation.guid)"
										mat-icon-button><mat-icon>edit</mat-icon></button>
								</div>
							</mat-list-item>
							<mat-divider />
						</div>
					</mat-list>
				</div>
				<div class="flex flex-end fixed right-4">
					<button (click)="addNewRecommendation()" color="primary" mat-fab><mat-icon>add</mat-icon></button>
				</div>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>