<nav class="mobile-navbar pt-2">
	<div class="nav-option" routerLink="diseases" >
		<div class="icon-container" routerLinkActive="active">
			<mat-icon style="font-size: 24px;">favorite</mat-icon>
		</div>
		<p class="text-label-medium">Health</p>
	</div>
	<div class="indicator"></div>
	<div class="nav-option">
		<div class="icon-container" routerLink="user-profile">
			<div class="icon-container" routerLinkActive="active">

				<mat-icon style="font-size: 24px; ">account_circle</mat-icon>
			</div>
		</div>
		<p class="text-label-medium">Account</p>
	</div>
</nav>