.mobile-toolbar {
	display: none;
}

.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 200px;
}

.sidenav .mat-toolbar {
	display: none;
}

@media(max-width: 600px) {
	.mobile-toolbar {
		display: block;
	}

	.sidenav-container {
		height: calc(100% - 56px);
	}

	.sidenav {
		width: 100%;
	}

	.sidenav .mat-toolbar {
		display: block;
	}

	.desktop-toolbar {
		display: none;
	}
}