<div class="container mt-4 pb-24">
	<mat-toolbar class="pt-1" color="primary">
		<button mat-icon-button class="mt-1" aria-label="Return button" (click)="return()">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span class="text-title-large">{{getDiseaseName}} Treatments</span>
		<span class="flex-1"></span>
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<span>Establish new treatment</span>
			</button>
		</mat-menu>
	</mat-toolbar>

	<div class="mt-8"></div>
	<div class="mt-4 mx-4 border-2 rounded-xl"  *ngFor="let treatment of treatments">
		<mat-card style="box-shadow: none; border-radius: 12px;" [routerLink]="['/diseases', treatment.diseaseGuid, 'treatments', treatment.guid]">
			<mat-card-header style="border-radius: 0.75rem">
				<div mat-card-avatar class="avatar">
					<div style="width: 100%; height: 100%; position: relative">
						<div
							style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #6750A4; border-radius: 9999px">
						</div>
						<div
							class="w-10 h-10 left-0 top-2 absolute text-center text-fuchsia-50 text-base font-medium font-['Roboto'] leading-normal tracking-tight">
							{{getInitials(treatment.establishedBy)}}
						</div>
					</div>
				</div>
				<mat-card-title>{{treatment.establishedBy}}</mat-card-title>
				<mat-card-subtitle>{{getDateString(treatment)}}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>
</div>