/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'avalanche-css/avalanche';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

// change default font colot to #1D1B20
body {
	color: #1D1B20;
}

.color-primary {
	color: #6750A4;
}

.mat-icon {
	font-size: 24px;;
}

.mdc-list-item__start, .mdc-list-item__end, .mdc-list-item__graphic, .mdc-list-item__meta, .mdc-list-item__text-icon {
	color: #6750A4 !important;
}