<mat-toolbar class="pt-1" color="primary">
	<button mat-icon-button class="mt-1" aria-label="Return button" (click)="return()">
		<mat-icon>close</mat-icon>
	</button>
	<span class="text-title-large"></span>
	<span class="flex-1"></span>
	<button mat-icon-button class="mt-1" aria-label="Save button" (click)="save()" [disabled]="!isFormValid()">
		<mat-icon>save</mat-icon>
	</button>
</mat-toolbar>

<div class="m-4">

	<form [formGroup]="form" class="grid--center relative">
		<mat-form-field floatLabel="always" appearance="fill" class="grid__cell">
			<mat-label>Medication</mat-label>
			<input required matInput formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="fill" class="grid__cell">
			<mat-label>Frequency</mat-label>
			<mat-select (selectionChange)="onFrequencySelectionChange($event)" formControlName="frequency">
				<mat-option *ngFor="let option of frequencyOptions" [value]="option">{{option}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field *ngIf="customFrequencyOptionSelected" floatLabel="always" appearance="fill" class="grid__cell">
			<mat-label>Frequency - Custom</mat-label>
			<input required matInput formControlName="frequencyCustom">
		</mat-form-field>

		<mat-accordion formArrayName="frequencyEntries" class="grid__cell">
			<mat-expansion-panel *ngFor="let entry of frequencyEntries.controls; let i = index" [formGroupName]="i">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Entry {{ i + 1 }}
					</mat-panel-title>
					<button (click)="removeDosageEntryButtonClicked(i)" mat-icon-button type="button">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<mat-form-field class="grid__cell" appearance="fill">
					<mat-label>Dosage</mat-label>
					<input matInput formControlName="dosage">
				</mat-form-field>

				<mat-form-field appearance="fill" class="grid__cell">
					<mat-label>When</mat-label>

					<mat-select (selectionChange)="onSelectionChange($event, i)" formControlName="when">
						<mat-optgroup label="Group 1 - Daily">
							<mat-option *ngFor="let time of timeOfDayOptions" [value]="time">
								{{ time }}
							</mat-option>
						</mat-optgroup>
						<mat-optgroup label="Group 2 - Weekly">
							<mat-option *ngFor="let day of dayOfWeekOptions" [value]="day">
								{{ day }}
							</mat-option>
						</mat-optgroup>
						<mat-option value="Custom">Custom</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="grid__cell" *ngIf="isCustomFormVisible(i)" appearance="fill">
					<mat-label>When - Custom</mat-label>
					<input matInput formControlName="whenCustom">
				</mat-form-field>
			</mat-expansion-panel>
		</mat-accordion>

		<button style="position: absolute; bottom: -4rem; right: 0;"  class="" (click)="addNewDosageButtonClicked()" mat-mini-fab color="primary" type="button">
			<mat-icon>add</mat-icon>
		</button>
	</form>
</div>