<div class="container mt-4">
	<mat-toolbar class="justify-center color-primary primary" color="primary">
		<span class="text-headline-small">Diseases</span>
	</mat-toolbar>
	<div class="diseases-list mt-4">
		<mat-list>
			<div class="list-item-container" *ngFor="let disease of diseases$ | async"
				(click)="navigateToDiseaseDetails(disease.guid)">
				<mat-list-item>
					<mat-icon matListItemIcon style="font-size: 24px;">coronavirus</mat-icon>
					<div matListItemTitle>{{disease.name}}</div>
					<button style="margin-top: 4px;" mat-icon-button matListItemMeta><mat-icon
							style="font-size: 24px; height: 24px; width: 24px;">navigate_next</mat-icon></button>
				</mat-list-item>
				<mat-divider />

			</div>
		</mat-list>
	</div>
</div>